.popup__save-button {
    background-color: #000000;
    border: 2px solid white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 15px 131px 16px 131px;
    width: 100%;
    max-width: 358px;
    transition: opacity 0.5s;
    border-radius: 2px;
    margin-top: 16px;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 648px) {
    .popup__save-button {
        max-width: 238px;
        font-size: 14px;
        line-height: 16.94px;
        padding: 14px 82px;
        margin-top: 15px;
    }
}