.profile__title {
    grid-area: title;
    margin: 0;
    max-width: 294px;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .profile__title {
        font-size: 34px;
    }
}

@media screen and (max-width: 648px) {
    .profile__title {
        font-size: 27px;
        line-height: 32.68px;
    }
}