.profile__avatar {
    margin-right: 30px;
    max-width: 120px;
    min-height: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 648px) {
    .profile__avatar {
        margin: 0 0 22.25px;
    }
}