.photo-gallery__trash-button {
    background-image: url('../../../images/TrashButton.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 18px;
    height: 19px;
    align-self: center;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    right: 20px;
    top: 20px;
}

.photo-gallery__trash-button:hover {
    opacity: 0.2;
}